.grid{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 50px;
}

.grid h3{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 60px;
}

.name{
    position: relative;
    bottom: 400px;
    font-size: 150px;
    padding: 0px;
    margin: 0px;

}

.yellow{
    background-color:rgb(252, 223, 39);
}

.blue{
    background-color: rgb(24, 102, 197);
    height: 2vh;
}

.green{
    background-color:rgb(23, 160, 23);
}

.names{
    width: 100%;
    text-align: center;

}
img{
    width: 100%;
    object-fit: cover;
}

#grid h3{
    position: absolute;
    top: 50%;
    left: 50%;text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
}

.sf{
    grid-column: 1/3;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blackbar{
    background-color: black;
    height: 125px;
    padding-top: 100px;
    margin-top: 50px;
    text-align: center;
}

.red{
    background-color: rgb(218, 36, 36);
}

body{
    margin: 0px;
    padding:s 0px;
}

.yellow{
    background-color: rgb(252, 223, 39);
}

nav{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
}

li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: rgb(162, 154, 154);
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 20px;
    z-index: 4;
    border-radius: 25px;
    text-decoration: none;
}

li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 45px;
}

li a:hover{
    background-color: rgb(126, 123, 123);
    transition: background-color 0.3s, color 0.3s;
}

.first{
    grid-column: span 6;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 15px;
    line-height: 20px;
}

h1{
    font-family: 'Vina Sans',sans-serif;
    color: whitesmoke;
    font-size: 175px;
    text-align: center;
    height: 200px;
    display: inline-block;
    position: relative;
    bottom: 225px;
    kerning: 2px;
}

h2{
    font-family:'Vina Sans',sans-serif;
    color: whitesmoke;
}

h3{
    font-family: 'Vina Sans',sans-serif;
    color: rgb(218, 36, 36);
    font-size: 40px;
    padding: 0px;
}

h4{
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-kerning: 10px;
}

.red{
    background-color: rgb(218, 36, 36);
}

.gallery{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 15px;
}

.gallery-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.gallery-item-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.gallery-item-3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.gallery-item-4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.early{
    grid-column: 3/6;
    grid-row: 1/4;
}

.stylepage{
    background-color: rgb(23, 160, 23);
}

.blue{
    background-color: rgb(24, 102, 197);
}

.yellow{
    background-color: rgb(252, 223, 39);
}

#EL{
    grid-column: 2/3;
}

.pic{
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pics{
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-pictures{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 70px;
    position: relative;
    top: 50px;
    grid-column-gap: 25px;
}

.box{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding-top: 5px;
}

.boxs{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding-top: 5px;
}

.empty{
    height: 100px;
}

.newgrid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 25px;
    margin: 25px;
}

.stylegrid{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.type{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}

.stylegrid2{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.type2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; 
    text-align: right;
}

.newgrid2{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 25px;
    margin: 25px;
}

.black{
    background-color: black;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 0;
}

.portgrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
}

.blackboxbackground{
    color: black;
    grid-column: 1/3;
    grid-row: 1/6;
}

.titles{
grid-column: 1/3;    
grid-row: 4;
}